In [1]:
import pandas as pd

In [3]:
# 2 main datatypes
series = pd.Series(["BMW", "Toyota", "Honda"])

In [4]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [8]:
colours = pd.Series(["White", "Black", "Red"])
colours

0    White
1    Black
2      Red
dtype: object

In [9]:
# series = 1-dimensional

In [10]:
# DataFrame = 2-dimensional
car_data = pd.DataFrame({"Car make": series, "Colours": colours})
car_data

  Car make Colours
0      BMW   White
1   Toyota   Black
2    Honda     Red

In [ ]:
# Import data